@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Lato&family=Montserrat&family=Poppins&display=swap');

.containerTable{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    background-color: white;
}
.itemTable, .titleTable{
    width: 250px;
    text-align: center;
    padding: 10px 20px; 
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}
.button {
    background: #EA413C;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
.containerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}